# macOS
.DS_Store

# VS Code
.vscode/

# Python
.venv/
__pycache__/
*.pyc

# MkDocs
site/

# Logs
*.log

# OS files
Thumbs.db

# Environment variables
.env

# Temporary files
*.tmp
*.bak

# PDF build output (optional)
pdf/*.aux
pdf/*.toc
pdf/*.out